In [1]:
import pandas as pd
from collections import OrderedDict

In [60]:
class Market:
    def __init__(self):
        # w slownikach kluczem będzie kwota, a wartością ilość
        self.buys = OrderedDict()
        self.sells = OrderedDict()
        self.columns = ['Order', 'Type', 'Price','Quantity']
        self.history = pd.DataFrame(columns = self.columns)

    def _validate_order(self, order):
        if order not in ['Buy','Sell']:
            print(order)
            raise ValueError('Order has to be Buy or Sell')
        
    def _validate_quantity(self, quantity):
        if not isinstance(quantity, int) or quantity <= 0:
            raise ValueError('Quantity has to be positive integer')
    

    def _add_to_history(self, order, type, price, quantity):
        row = pd.DataFrame(dict(zip(self.columns, [order, type, price, quantity])), index = [0])
        self.history = pd.concat([self.history, row]).reset_index(drop = True)

    def display_data(self):
        display(self.history)
        if len(self.buys) > 0:
            buy_idx = min(self.buys, key=self.buys.get)
            print(f'Best buy {self.buys[buy_idx]}qt with price {buy_idx}')
        if len(self.sells) > 0:
            sell_idx = min(self.sells, key=self.sells.get)
            print(f'Best sell {self.sells[sell_idx]}qt with price {sell_idx}')

    def add(self, order, price, quantity): 
        self._validate_order(order)
        self._validate_quantity(quantity)
        self._add_to_history(order, 'Add', price, quantity)
        if order == 'Sell':
            self.sells[price] = self.sells.get(price, 0) + quantity
        elif order == 'Buy':
            self.buys[price] = self.buys.get(price, 0) + quantity
        self.display_data()

    def remove(self, order, price, quantity):
        self._validate_order(order)
        self._validate_quantity(quantity)
        if order == 'Sell':
            tmp = self.sells.get(price, 0) - quantity
            if tmp < 0:
                raise ValueError("Can't remove")
            else:
                self.sells[price] = tmp
        elif order == 'Buy':
            tmp = self.buys.get(price, 0) - quantity
            if tmp < 0:
                raise ValueError("Can't remove")
            else:
                self.buys[price] = tmp
        self._add_to_history(order, 'Remove', price, quantity)
        self.display_data()

In [58]:
market = Market()
market.add('Buy', 20, 100)
market.add('Sell', 25, 200)
market.add('Buy', 23, 100)
market.remove('Buy', 23, 50)
market.add('Buy', 30, 100)
market.add('Sell', 10, 100)

  Order Type Price Quantity
0   Buy  Add    20      100

Best buy 100qt with price 20

  Order Type Price Quantity
0   Buy  Add    20      100
1  Sell  Add    25      200

Best buy 100qt with price 20
Best buy 200 with price 25

  Order Type Price Quantity
0   Buy  Add    20      100
1  Sell  Add    25      200
2   Buy  Add    23      100

Best buy 100qt with price 20
Best buy 200 with price 25

  Order    Type Price Quantity
0   Buy     Add    20      100
1  Sell     Add    25      200
2   Buy     Add    23      100
3   Buy  Remove    23       50

Best buy 50qt with price 23
Best buy 200 with price 25

  Order    Type Price Quantity
0   Buy     Add    20      100
1  Sell     Add    25      200
2   Buy     Add    23      100
3   Buy  Remove    23       50
4   Buy     Add    30      100

Best buy 50qt with price 23
Best buy 200 with price 25

  Order    Type Price Quantity
0   Buy     Add    20      100
1  Sell     Add    25      200
2   Buy     Add    23      100
3   Buy  Remove    23       50
4   Buy     Add    30      100
5  Sell     Add    10      100

Best buy 50qt with price 23
Best buy 100 with price 10